.pool
  width: 25px
  height: 25px
  background-color: grey
  border-right: 1px solid #292929
  border-bottom: 1px solid #292929
  border-left: 1px solid darkgray
  border-top: 1px solid darkgray
  border-radius: 3px
  display: inline-block
  margin: 0
  padding: 0

.pool.is-selected
  background-color: red
