.resources
  left: -999px
  position: absolute

.resources-child
  width: 1px
  height: 1px

.red-mine
  background-image: url("src/assets/img/red_mine.png")
  background-size: cover

.mine
  background-image: url("src/assets/img/mine.png")
  background-size: cover

.flag
  background-image: url("src/assets/img/flag.png")
  background-size: cover
