<div [className]="'board'"
     (click)="isReadyToReset || isGameOver ? resetGame($event) : false"
     (contextmenu)="isReadyToReset || isGameOver ? resetGame($event) : false"
>
<app-pool *ngFor="let field of fieldList"
          [isBomb]="field.isBomb"
          [poolX]="field.poolX"
          [poolY]="field.poolY"
          [poolID]="field.poolID"
          [isInfo]="field.isInfo"
          [touchesBombCount]="field.touchesBombCount"
          [isGameOver]="isGameOver"
          [isReadyToExpand]="field.isReadyToExpand"
          [isProcessing]="field.isProcessing"
          (exposedField)="exposedFieldEvent($event)"
>
</app-pool>
</div>
<div class="resources">
  <div class="resources-child mine"></div>
  <div class="resources-child red-mine"></div>
  <div class="resources-child flag"></div>
  <div class="resources-child quote"></div>
</div>
<div [className]="'game-over'" *ngIf="this.isGameOver">
<br><br>
<h1>ALLAHU AKBAR</h1>
<h2>Bomba zostala wyjebana</h2>
</div>
