<div [className]="'board'"
     (click)="isReadyToReset || isGameOver || isWinner ? resetGame($event) : false"
     (contextmenu)="isReadyToReset || isGameOver || isWinner ? resetGame($event) : false"
>
<app-pool *ngFor="let field of fieldList"
          [isBomb]="field.isBomb"
          [poolX]="field.poolX"
          [poolY]="field.poolY"
          [poolID]="field.poolID"
          [isInfo]="field.isInfo"
          [touchesBombCount]="field.touchesBombCount"
          [isGameOver]="isGameOver"
          [isWinner]="isWinner"
          [isReadyToExpand]="field.isReadyToExpand"
          [allFieldsMarked]="allFieldMarked"
          (exposedField)="exposedFieldEvent($event)"
          (isFlagged)="isFlaggedEvent($event)"
          (gameHasStarted)="this.gameHasStarted && !this.gameIsGoingOn ? gameHasStartedEvent($event) : gameHasStartedEvent(false)"
>
</app-pool>
</div>
<div [className]="'game-over'" *ngIf="this.isGameOver"
     (click)="this.resetGame($event)"
     (contextmenu)="this.resetGame($event)"
>
<h1>Game Over</h1>
<h2>Let's try again?</h2>
</div>

<div [className]="'winner'" *ngIf="this.isWinner">
  <h1>You have won</h1>
  <h2>Let's try again?</h2>
</div>
